#link {
    font-size: large;
    font-weight: bold;
    color: #dd1b16;  
}

#link:hover {
    color: grey; 
}

a {
    font-size: large;
    color: white;  
}

.nav-link > li{
    margin-right:80px;
  }
