<div  class="text-center">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]='form' (ngSubmit)="submit()" novalidate>
            <img class="mb-4" src="/assets/img/logo.png" width="120" height="57">
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            
            <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" require>
                <label for="email">Email address:</label>
            </div>
            <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" require>
                <label for="password">Password:</label>
            </div>
        
            <button class="w-100 btn btn-lg btn-danger" type="submit">Submit</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main>
</div>
