<div  class="text-center">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]='form' (ngSubmit)="submit()" novalidate>
            
            <h1 class="h3 mb-3 fw-normal">Forgot your password</h1>
            
            <div *ngIf="cls" class="alert alert-{{cls}}" role="alert">
                {{message}}
            </div>

            <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" require>
                <label for="email">Email address:</label>
            </div>
        
            <button class="w-100 btn btn-lg btn-danger" type="submit">Recover</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main>
</div>
