<div  class="text-center">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]='form' (ngSubmit)="submit()" novalidate>
            
            <h1 class="h3 mb-3 fw-normal">Please reset your password</h1>
            
            <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" require>
                <label for="password">Password:</label>
            </div>
            <div class="form-floating">
                <input formControlName="password_confirm" type="password" class="form-control" id="floatingPassword" placeholder="PasswordConfirm" require>
                <label for="password_confirm">Password Confirm:</label>
            </div>
        
            <button class="w-100 btn btn-lg btn-danger" type="submit">Submit</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main>
</div>
